<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/style.css" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
</head>
<style>
  .container {
    text-align: center;
    /* Align store name in the middle*/
  }

  h2 {
    font-weight: bold;
    /* Make the text bold */
    font-family: Arial, sans-serif;
  }
</style>

<body>

  <h1>
    <div>Senior Design Mall</div>

    <div class="button-container">
      <%if(isLoggedIn){%>
        <a href="/logOut" class="btn">
          Log Out
        </a>
      <%}else{%>
        <a href="/login" class="btn">
          Log In
        </a>
      <%}%>

      <a href="/users/userAccountsPage" class="btn">
        Accounts Page
      </a>

      <a href="/register" class="btn">
        Create an account
      </a>

      <a href="/cartPage" class="btn">
        Cart
      </a>
    </div>
  </h1>

  <div class="store-container">
    <div class="store-info">
      <!-- Store 1 -->
      <div>
        <br><br>
        <div class="container">
          <h2>Book Chat</h2>
        </div>
        <img src="/imgs/Book Chat.png" width="300" height="200">
        <p>
          <div style="text-align: center;">
            <form method="POST" action="/storePage">
              <input type="hidden" name="storeName" value="Book Chat">
              <button type="submit" class="btn">Visit Book Chat</button>
            </form>
          </div>
          <i class="bi bi-envelope-fill"></i> BookChat@astate.org<br>
          <i class="bi bi-telephone-fill"></i> (870) 123-0000<br>
          <i class="bi bi-geo-alt-fill"></i> 1A<br>
          <i class="bi bi-clock-fill"></i> 9:00 to 20:00 Monday to Friday
        </p>
      </div>
      <!-- Store 2 -->
      <div><br><br>
        <div class="container">
          <h2>Good Fresh </h2>
        </div>
        <img src="/imgs/Good Fresh.png" width="300" height="200">
        <p>
          <div style="text-align: center;">
            <form method="POST" action="/storePage">
              <input type="hidden" name="storeName" value="Good Fresh">
              <button type="submit" class="btn">Visit Good Fresh</button>
            </form>
          </div>
          <i class="bi bi-envelope-fill"></i> GoodFresh@astate.org<br>
          <i class="bi bi-telephone-fill"></i> (870) 234-0000<br>
          <i class="bi bi-geo-alt-fill"></i> 2A<br>
          <i class="bi bi-clock-fill"></i> 9:00 to 20:00 Monday to Friday
        </p>
      </div>

      <!-- Store 3 -->
      <div><br><br>
        <div class="container">
          <h2>Little Baby</h2>
        </div>
        <img src="/imgs/Little Baby.png" width="300" height="200">
        <p>
        <div style="text-align: center;">
          <form method="POST" action="/storePage">
            <input type="hidden" name="storeName" value="Little Baby">
            <button type="submit" class="btn">Visit Little Baby</button>
          </form>
          </div>
          <i class="bi bi-envelope-fill"></i> LittleBaby@astate.org<br>
          <i class="bi bi-telephone-fill"></i> (870) 567-0000<br>
          <i class="bi bi-geo-alt-fill"></i> 3A<br>
          <i class="bi bi-clock-fill"></i> 9:00 to 20:00 Monday to Friday
        </p>
      </div>
    </div>

    <div class="store-info">
      <!-- Store 4 -->
      <div><br><br>
        <div class="container">
          <h2>Shoes Store</h2>
        </div>
        <img src="/imgs/Shoes Store.png" width="300" height="200">
        <p>
          <div style="text-align: center;">
            <form method="POST" action="/storePage">
              <input type="hidden" name="storeName" value="Shoes Store">
              <button type="submit" class="btn">Visit Shoes Store</button>
            </form>
          </div>
          <i class="bi bi-envelope-fill"></i> Shoes Store@astate.org<br>
          <i class="bi bi-telephone-fill"></i> (870) 333-0000<br>
          <i class="bi bi-geo-alt-fill"></i> 1B<br>
          <i class="bi bi-clock-fill"></i> 9:00 to 20:00 Monday to Friday
        </p>
      </div>

      <!-- Store 5 -->
      <div><br><br>
        <div class="container">
          <h2>Sports Club</h2>
        </div>
        <img src="/imgs/Sports Club.png" width="300" height="200">
        <p>
          <div style="text-align: center;">
          <form method="POST" action="/storePage">
            <input type="hidden" name="storeName" value="Sports Club">
            <button type="submit" class="btn">Visit Sports Club</button>
          </form>
          </div>
          <i class="bi bi-envelope-fill"></i> SportsClub@astate.org<br>
          <i class="bi bi-telephone-fill"></i> (870) 456-2222<br>
          <i class="bi bi-geo-alt-fill"></i> 2B<br>
          <i class="bi bi-clock-fill"></i> 9:00 to 20:00 Monday to Friday
        </p>
      </div>

      <!-- Store 6 -->
      <div><br><br>
        <div class="container">
          <h2>Sun Summer</h2>
        </div>
        <img src="/imgs/Sun Summer.png" width="300" height="200">
        <p>
          <div style="text-align: center;">
            <form method="POST" action="/storePage">
              <input type="hidden" name="storeName" value="Sun Summer">
              <button type="submit" class="btn">Visit Sun Summer</button>
            </form>
          </div>
          <i class="bi bi-envelope-fill"></i> SunSummer@astate.org<br>
          <i class="bi bi-telephone-fill"></i> (870) 789-1111<br>
          <i class="bi bi-geo-alt-fill"></i> 3B<br>
          <i class="bi bi-clock-fill"></i> 9:00 to 20:00 Monday to Friday
        </p>
      </div>
    </div>
  </div>

  <br><br><br><br><br>
  <!-- Include Bootstrap JS for map-->
  <div style="text-align: center;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <div id="map" style="width: 80%; height: 200px; margin: 0 auto;"></div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
      var map = L.map('map').setView([35.828113, -90.686391], 13);

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
      }).addTo(map);

      L.marker([35.828113, -90.686391]).addTo(map)
        .bindPopup("2105 East, Aggie Rd, Jonesboro, AR 72401")
        .openPopup();

      // JavaScript to handle button click event
      document.querySelectorAll('.sendStoreInfo').forEach(button => {
        button.addEventListener('click', function () {
          const storeName = this.getAttribute('data-store-name');
          // Redirect to storeinfo.ejs with store name
          window.location.href = `/storeinfo.ejs?storeName=${storeName}`;
        });
      });
    </script>
    <p>
      <i class="bi bi-envelope-fill"></i> seniordesignmall@gmail.com<br>
      <i class="bi bi-telephone-fill"></i> (870) 123-4567<br>
      <i class="bi bi-geo-alt-fill"></i> 2105 East, Aggie Rd, Jonesboro, AR<br>
      <i class="bi bi-clock-fill"></i> 9:00 to 20:00 Monday to Friday
    </p>
  </div>

</body>

<footer>
  © 2024 Java App Dev
</footer>

</html>
