<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store Analysis</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <section>
        <h2>Store Analysis</h2>
    </section>
    <div id="storeListContainer">
        <% for (let mall of malls) { %>
            <div>
                <h3><%= mall.mallName %></h3>
                <ul>
                    <% for (let store of mall.stores) { %>
                        <li><%= store.storeName %></li>
                    <% } %>
                </ul>
            </div>
        <% } %>
    </div>
</body>
</html>
