<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to <%= store.storeName %> page</title>
  <link rel="stylesheet" href="/css/style.css" />
  <style>
    .item {
      margin-bottom: 20px;
    }
  </style>
</head>
<header>
  <h1>Welcome to <%= store.storeName %> page!
      <a href="/" class="btn">
        Home
      </a>
      </div>

  </h1>
</header>

<body>
  <ul style="list-style-type: square;">
    <% for(var i=0; i<itemList.length; i++) {%>

      <li style="margin-top: 5px;">
        <%= itemList[i].itemName %> <button>Add <%=itemList[i].itemName%> to cart</button>
      </li>

      <% } %>
  </ul>
</body>

</html>