<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store Analysis</title>
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Include Chart.js library -->
    <!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
</head>

<body>
    <section>
        <h1>Store Analysis
            <a href="/" class="btn">
                Home
            </a>
        </h1>
    </section>
    <div class="store-container">
        <div class="store-info">
            <% stores.forEach(store => { %>
            <div class="store">
                <h2><%= store.storeName %>
                    <div >
                        <form method="POST" action="/heldPage">
                            <input type="hidden" id="storeName" name="storeName" value="<%=store.storeName%>">
                            <button style="margin-left: 10px;">Check Requested Held Items</button>
                        </form>
                    </div>

                </h2>
                <img src="/imgs/<%= store.storeName %>.png" width="400" height="300">
                <p>
                    <span class="store-profile-views"> Store Profile views: <%= store.profileViews %></span>
                </p>
            </div>
            <% }); %>
        </div>
    </div>

    
</body>
</html>
